@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  overflow-x: hidden;
}

.nav-toggle {
  display: none;
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle span {
  background: #c5232d;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border-radius: 8px;
  height: 6px;
  width: 60px;
  margin-bottom: 10px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 0%;
          transform-origin: 10% 0%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 80%;
          transform-origin: 10% 80%;
}

.header {
  position: relative;
  height: 100vh;
  padding: 0 calc(50vw - 585px);
  background: url(../img/bg-figure1x.png);
  overflow: hidden;
  background-repeat: no-repeat, no-repeat;
  background-position: 47vw -4vh, 25% 25%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  font-weight: 700;
}

.header .logo-icon {
  width: 15.6em;
  height: 3.7em;
}

.header a {
  text-decoration: none;
  color: #343434;
  position: relative;
  display: inline-block;
}

.header a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  /* Adjust height and bottom values to work with selected font */
  height: .07em;
  bottom: .1em;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, #343434), color-stop(50%, #343434), color-stop(70%, #343434), to(transparent));
  background-image: linear-gradient(to right, transparent 0%, #343434 30%, #343434 50%, #343434 70%, transparent 100%);
  /* Set-up fade-in animation */
  opacity: 0;
  -webkit-animation: fadeIn 600ms ease-out forwards;
          animation: fadeIn 600ms ease-out forwards;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.header__menu {
  display: block;
  list-style: none;
}

.header__menu li {
  display: inline-block;
}

.header__menu li:not(:last-child) {
  padding-right: 3.5em;
}

.header__personal-area svg {
  height: 1.2em;
  width: 1.3em;
}

.header__personal-area a {
  margin-left: 1em;
}

.header__description {
  height: 100vh;
}

.header__bg {
  position: absolute;
  top: -14vh;
  left: 47%;
  background: linear-gradient(158.74deg, #E3E9FB 33.12%, #9DAACB 63.6%);
  border-radius: 50px;
  height: 200vh;
  width: 200vh;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
}

.header__description {
  width: 50%;
}

.header__photo {
  width: 50%;
  position: relative;
}

.header__photo img {
  height: 90vh;
}

.header__text {
  width: 50%;
  margin: 30px 0 50px 0;
}

.header h1 {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #343434;
  margin-top: 20vh;
}

.header__ceo-info {
  position: absolute;
  width: 20%;
  bottom: 100px;
  right: 50%;
}

.header__ceo-info:first-child {
  position: absolute;
  width: 20%;
  bottom: 100px;
  right: 50%;
}

#personal-area_mobile {
  display: none;
}

#personal-area_mobile a {
  text-decoration: none;
  color: #343434;
  position: relative;
  display: inline-block;
  font-weight: 700;
}

#personal-area_mobile a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  /* Adjust height and bottom values to work with selected font */
  height: .07em;
  bottom: .1em;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, #343434), color-stop(50%, #343434), color-stop(70%, #343434), to(transparent));
  background-image: linear-gradient(to right, transparent 0%, #343434 30%, #343434 50%, #343434 70%, transparent 100%);
  /* Set-up fade-in animation */
  opacity: 0;
  -webkit-animation: fadeIn 600ms ease-out forwards;
          animation: fadeIn 600ms ease-out forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.button {
  padding: 1em 2em;
  background: #c5232d;
  -webkit-box-shadow: 0px 2px 8px rgba(27, 32, 50, 0.08);
          box-shadow: 0px 2px 8px rgba(27, 32, 50, 0.08);
  border: 0px;
  border-radius: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
  color: white;
}

.title {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #343434;
  margin-bottom: 30px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 calc(50vw - 585px);
  background: #f4f7ff;
}

.about-us__video {
  padding: 50px 0;
}

.about-us__video iframe {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.about-us__description {
  padding: 0 5%;
}

#button_mobile {
  display: none;
}

.our-services {
  padding: 0 calc(50vw - 585px);
}

.our-services__title {
  text-align: center;
  margin: 50px 0;
}

.our-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 31%;
  margin-bottom: 30px;
}

.service-card__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.9em;
          flex: 0 0 3.9em;
  height: 3.9em;
  margin: 1.5em 1em;
}

.service-card__icon svg {
  width: 100%;
  height: 100%;
}

.service-card__description p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #343434;
}

.service-card__description a {
  position: relative;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
  color: #b7b8c4;
}

.service-card__description a:after {
  position: absolute;
  content: '';
  width: 0.7em;
  height: 0.7em;
  background: url(../img/arrow.png) no-repeat;
  background-size: contain;
  bottom: 0.2em;
  right: -2em;
}

.service-card-pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  width: 50%;
}

.service-card-pros__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.1em;
          flex: 0 0 3.1em;
  height: 3.1em;
  margin: 0 10px;
}

.service-card-pros__icon svg {
  width: 100%;
  height: 100%;
}

.service-card-pros__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
}

.price, .who-we-are, .speciality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 calc(50vw - 585px);
  background: #f4f7ff;
}

.price__description, .who-we-are__description, .speciality__description {
  width: 50%;
  padding: 0 10% 0 5%;
  margin: 50px 0;
}

.price__description p:last-of-type, .who-we-are__description p:last-of-type, .speciality__description p:last-of-type {
  margin: 30px 0 50px;
}

.price__img, .who-we-are__img, .speciality__img {
  width: 50%;
  height: 28em;
  background: url(../img/price-block.png) no-repeat;
  background-size: contain;
  margin: 3em 0;
}

.price__list, .who-we-are__list, .speciality__list {
  margin-left: 20px;
}

.price__list li:not(:last-child), .who-we-are__list li:not(:last-child), .speciality__list li:not(:last-child) {
  margin-bottom: 10px;
}

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 calc(50vw - 585px);
}

.pros__description {
  width: 50%;
  margin: 3em 0 0 5em;
}

.pros__description p:nth-of-type(2) {
  margin-bottom: 3em;
}

.pros__img {
  width: 50%;
  height: 28em;
  background: url(../img/pros-block.png) no-repeat;
  background-size: contain;
  margin: 5em 0;
}

.pros__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 calc(50vw - 585px);
  background: #f4f7ff;
}

.stats__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 23%;
  height: 13em;
  border-radius: 20px;
  margin: 50px 0;
  padding: 0 30px;
  text-align: center;
}

.stats__title {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 38px;
  color: #343434;
  color: #c5232d;
  margin-bottom: 15px;
}

.stats__title span {
  font-size: 28px;
  line-height: 0;
}

.reviews {
  padding: 0 calc(50vw - 585px);
  position: relative;
}

.reviews__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 0;
}

.reviews__title {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #343434;
}

.reviews__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 45px;
  background: #c5232d;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.reviews__btn:first-of-type {
  margin-right: 15px;
}

.reviews__references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reviews__reference-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
}

.reviews__reference-block:not(:last-child) {
  margin-right: 30px;
}

.reviews__block-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #343434;
}

.reviews__block-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
  margin: 15px 0;
}

.reviews__block-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 calc(50vw - 585px);
}

.faq #first-question {
  border-top: 1px solid #c5232d;
}

.faq__questions {
  width: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #343434;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
}

.faq__photo {
  width: 50%;
}

.faq__photo img {
  width: 100%;
}

.faq__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #c5232d;
}

.faq__question > p {
  padding: 20px 20% 20px 20px;
  width: 100%;
}

.faq__btn {
  position: absolute;
  top: 1.3em;
  right: 20px;
  color: #c5232d;
  font-size: 28px;
  font-weight: normal;
}

.faq #last-btn {
  top: 0.7em;
}

.active-answer .faq__answer {
  padding: 15px;
  margin-bottom: 15px;
}

.active-answer > p {
  margin-bottom: 15px;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background: #c5232d;
  border-radius: 20px;
  color: white;
}

.active-answer .faq__btn {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: white;
}

.consultation, .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em calc(50vw - 585px) 6em;
  background: #f4f7ff;
}

.consultation__info, .contacts__info {
  width: 50%;
  margin-bottom: 5em;
}

.consultation__form, .contacts__form {
  width: 50%;
}

.consultation__form form, .contacts__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consultation__form form input, .consultation__form form label, .consultation__form form textarea, .contacts__form form input, .contacts__form form label, .contacts__form form textarea {
  display: block;
}

.consultation__form form label, .contacts__form form label {
  margin: 0 18% 15px 18%;
}

.consultation__form form input, .consultation__form form textarea, .contacts__form form input, .contacts__form form textarea {
  padding: 10px 15px;
  border: 1px solid #131F49;
  border-radius: 20px;
  resize: none;
  width: 100%;
}

.consultation__form form #upload-lable, .contacts__form form #upload-lable {
  display: inline-block;
  position: relative;
  width: 3em;
  height: 3em;
  background: #C5232D;
  background-image: url(../img/svg/pin-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 1rem;
}

.consultation__form form #upload-lable::after, .contacts__form form #upload-lable::after {
  position: absolute;
  width: 10em;
  content: "Прикрепить файл";
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  top: 0.8em;
  left: 3.5em;
}

.consultation__form input::-webkit-input-placeholder, .contacts__form input::-webkit-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  color: #b7b8c4;
}

.consultation__form input:-ms-input-placeholder, .contacts__form input:-ms-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  color: #b7b8c4;
}

.consultation__form input::-ms-input-placeholder, .contacts__form input::-ms-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  color: #b7b8c4;
}

.consultation__form input::placeholder, .contacts__form input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  color: #b7b8c4;
}

.consultation__form button, .contacts__form button {
  margin: 2em 0 0 18%;
  width: 9em;
  height: 3.5em;
  border: 0;
  border-radius: 10px;
  background: #c5232d;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #343434;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em calc(50vw - 585px);
  background: #131f49;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer li {
  list-style: none;
  margin-bottom: 1em;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo p:first-of-type {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #343434;
  color: white;
  margin-bottom: 1.5em;
}

.footer__social svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 1em;
  fill: white;
}

.footer___rights-mobile {
  display: none;
}

.header_page {
  background: none;
  height: auto;
}

.who-we-are img {
  width: 50%;
  margin-top: auto;
}

.who-we-are p:not(:first-of-type) {
  margin-bottom: 20px;
}

.who-we-are__description {
  padding: 10% 10% 0 5%;
}

.speciality img {
  width: 50%;
  margin-top: auto;
}

.speciality__description p:last-of-type {
  margin: 2em 0 .5em;
}

.quote {
  padding: 0 calc(50vw - 450px);
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #343434;
}

.quote__text {
  margin: 30px 120px;
}

.quote__gridbox {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.quote__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 100%;
  margin-top: 3em;
}

.quote__img img {
  width: 100%;
}

.quote__date-block p:first-of-type {
  color: #c5232d;
}

.quote__date-block p:last-of-type {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  margin-bottom: 5em;
}

#pages_style .menu_mobile {
  display: none;
}

.how-it-works {
  padding: 0 calc(50vw - 585px);
}

.how-it-works__title {
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #343434;
  text-align: center;
  margin: 50px 0;
}

.how-it-works__instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7em;
}

.how-it-works__block {
  width: 33%;
  position: relative;
  z-index: -1;
}

.how-it-works .block__title {
  text-align: center;
  font-family: Prata;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 104px;
  color: #343434;
  position: relative;
}

.how-it-works .block__info {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 93%;
  height: 17em;
  margin: 0 auto;
}

.how-it-works .block__info img {
  width: 4.5em;
  height: auto;
  margin: 4% 4% 3%;
}

.how-it-works .block__info p:first-of-type {
  margin: 0 4%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #343434;
  color: #131f49;
}

.how-it-works .block__info p:last-of-type {
  margin: 4%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343434;
}

.how-it-works #num01 {
  position: relative;
  top: -30px;
}

.how-it-works #num03 {
  position: relative;
  top: 30px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__social {
  width: 50%;
  padding: 0 0 0 10%;
}

.contacts__social svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 1em;
  fill: #343434;
}

.contacts___rights-mobile {
  display: none;
}

.contacts a {
  text-decoration: none;
  color: #343434;
  font-weight: 700;
}

.contacts li {
  list-style: none;
  margin-bottom: 1em;
}

.contacts__form {
  width: 50%;
}

.contacts__form form label {
  margin: 0px 20% 15px 0%;
}

.contacts__form button {
  margin: 1em 0 0 0%;
}

.contacts p {
  margin-bottom: 1em;
}

@media (max-width: 1170px) {
  .button {
    padding: 1em 1em;
  }
  .header, .about-us, .our-services, .price, .pros, .stats, .reviews, .faq {
    padding: 0 10px;
  }
  .consultation {
    padding: 3em 10px 6em;
  }
  .footer {
    padding: 4em 10px;
  }
  .price, .pros {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header h1 {
    margin-top: 90px;
  }
}

@media (max-width: 992px) {
  .header h1 {
    font-size: 34px;
    width: 90%;
    margin-top: 70px;
  }
  .header .logo-icon {
    width: 12.6em;
    height: 3.7em;
  }
  .header__top {
    font-size: 14px;
  }
  .header__top {
    font-size: 14px;
  }
  .header__personal-area a {
    margin-left: 2px;
  }
  .header__ceo-info {
    width: 30%;
    bottom: 100px;
  }
  .header__description {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 73%;
  }
  .header__main {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__text {
    width: 60%;
    margin: 15px 0 15px 0;
  }
  .header__photo img {
    height: 95vh;
  }
  .header__menu li:not(:last-child) {
    padding-right: 2.5em;
  }
  .button {
    padding: 0.8em 0.8em;
  }
  .about-us__video {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .about-us__video iframe {
    width: 100%;
  }
  .about-us__description, .about-us __video {
    width: 50%;
  }
  .pros__img {
    display: none;
  }
  .pros__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    margin: 3em 2em;
  }
  .pros__title {
    text-align: center;
  }
  .pros > p {
    text-align: center;
  }
  .pros__card {
    margin: 0 10%;
  }
  .stats__title {
    font-size: 33px;
  }
  .stats__title span {
    font-size: 22px;
    line-height: 0;
  }
  .our-services__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .service-card {
    width: 330px;
  }
  .consultation__form form label {
    margin: 0px 3% 15px 9%;
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  #personal-area_mobile {
    display: block;
  }
  #personal-area_mobile svg {
    height: 1.2em;
    width: 1.3em;
  }
  #personal-area_mobile a {
    margin-left: .5em;
  }
  #pages_style .menu_mobile {
    display: block;
  }
  #pages_style .menu_mobile a {
    text-decoration: none;
    color: #343434;
    position: relative;
    display: inline-block;
    font-weight: 700;
  }
  .header {
    padding: 0;
    height: 84vh;
  }
  .header__top {
    z-index: 2;
    height: 65px;
    background: white;
  }
  .header__bg {
    top: -47vh;
    left: 46%;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  .header h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .header__photo img {
    width: 70vw;
    height: auto;
    position: absolute;
    bottom: 0;
  }
  .header__photo {
    height: 77vh;
  }
  .header__description {
    width: 100%;
  }
  .header__ceo-info {
    width: 45%;
    line-height: 21px;
  }
  .header_page {
    height: auto;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    width: 0;
    height: 0;
    background: white;
    border-radius: 0px 0px 170px 0px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .header__menu li {
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    padding: 10px 20px;
  }
  .header__menu-bg {
    position: absolute;
    width: 0px;
    height: 0px;
    background: #c5232d;
    border-radius: 0px 0px 130px 0px;
    top: 65px;
    left: -100px;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  #button_mobile {
    display: block;
    margin: 30px auto;
    padding: 1.1em 1.5em;
  }
  #button_desktop {
    display: none;
  }
  .active-menu {
    width: 100vw;
    height: 14em;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    left: 0;
  }
  .active-menu .header__menu {
    width: calc(100vw + 4px);
    height: calc(14em + 3px);
    position: relative;
    top: -2px;
    left: -2px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .active-menu .header__menu li {
    opacity: 1;
    -webkit-transition: opacity .8s ease-out;
    transition: opacity .8s ease-out;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .header__menu li:not(:last-child) {
    padding-right: 0;
  }
  .header__personal-area {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 15vh;
    left: -110%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .speciality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .speciality img {
    width: 100%;
  }
  .speciality__description {
    width: 100%;
  }
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-us__description {
    width: 100%;
  }
  .about-us__video {
    width: 100%;
  }
  .about-us__video iframe {
    width: 90%;
    margin: 0 5%;
    height: auto;
  }
  .quote__text {
    margin: 30px 50px;
  }
  .price__img {
    display: none;
  }
  .price__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0 5% 0 5%;
  }
  .stats {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stats__block {
    width: 45%;
  }
  .faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq__photo {
    width: 100%;
  }
  .faq__questions {
    width: 100%;
    margin-top: 40px;
  }
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation__info {
    width: 100%;
    margin-left: 5%;
  }
  .consultation__form {
    width: 100%;
  }
  .consultation__form > form > label {
    margin: 0px 3% 15px 5%;
  }
  .consultation__form button {
    margin: 1em 0 0 5%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__logo > p:last-of-type {
    display: none;
  }
  .footer___rights-mobile {
    display: none;
    margin-top: 30px;
  }
  .how-it-works__instruction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how-it-works__block {
    width: 65%;
  }
  .how-it-works #num01 {
    position: relative;
    top: -35px;
  }
  .how-it-works #num02 {
    position: relative;
    top: -35px;
  }
  .how-it-works #num03 {
    position: relative;
    top: -35px;
  }
}

@media (max-width: 576px) {
  .service-card-pros {
    width: 100%;
  }
  #button_mobile {
    margin: 20px auto;
    width: 90%;
  }
  .who-we-are {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who-we-are__description {
    width: 100%;
  }
  .who-we-are img {
    width: 100%;
  }
  .how-it-works__block {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */