@import "mixins";
@import "vars";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    @include font_style (Open Sans, 16px, 400, 24px);
    overflow-x: hidden;
}

// --------- burger menu ----------

.nav-toggle {
    display: none;
    position: relative;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
  }
  .nav-toggle:focus {
    outline-width: 0;
  }
  .nav-toggle span {
    background: $color_red;
    display: block; 
    transform: rotate(0deg);
    transition: .2s ease all;
    border-radius: 8px;
    height: 6px;
    width: 60px;
    margin-bottom: 10px;
  }
  .nav-toggle .bar-bot {
    margin-bottom: 0;
  }
  .opened .bar-top {
            transform: rotate(45deg);
            transform-origin: 10% 0%;
  }
  .opened .bar-mid {
    opacity: 0;
  }
  .opened .bar-bot {
            transform: rotate(-45deg);
            transform-origin: 10% 80%;
  }
.header{
    position: relative;
    height: 100vh;
    padding: 0 calc(50vw - 585px);
    background: url(../img/bg-figure1x.png);
    overflow: hidden;
 
    // background-size: cover, cover;
    // background-origin: border-box, border-box;
    background-repeat: no-repeat, no-repeat;
    // background-size: 100vh, 100vh;
    background-position: 47vw -4vh, 25% 25%;
    // background-position-y: 7%, 23%;
    // background-position-x: -38%, -103%;
    &__top{
        @include flex_content (space-between, center);
        position: relative;
        z-index: 1;
        font-weight: 700;
    }
    & .logo-icon{
        width: 15.6em;
        height: 3.7em;
    }
    a{
        text-decoration: none;
        color: $color_black;
        position: relative;
        display: inline-block;
    }
    
    & .underline:hover::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
    
        /* Adjust height and bottom values to work with selected font */
        height: .07em;
        bottom: .1em;
    
        background-image: linear-gradient(
            to right,
            transparent 0%,
            $color_black 30%,
            $color_black 50%,
            $color_black 70%,
            transparent 100%
        );
    
        /* Set-up fade-in animation */
        opacity: 0;
        animation: fadeIn 600ms ease-out forwards;
    }

    @keyframes fadeIn{
        100%{
            opacity: 1;
        }
    }

    &__menu{
        display: block;
        list-style: none;
            & li{
                display: inline-block;                
            }
            & li:not(:last-child){
                padding-right: 3.5em;
            }
        }
        &__personal-area{
            & svg{
                height: 1.2em;
                width: 1.3em;
            }
            & a{
                margin-left: 1em; 
            }
        }

        &__description{
            height: 100vh;
        }
        &__bg{
            position: absolute;
            top: -14vh;
            left: 47%;
            background: linear-gradient(158.74deg, #E3E9FB 33.12%, #9DAACB 63.6%);
            border-radius: 50px;
            height: 200vh;
            width: 200vh;
            transform: rotate(315deg);

            // position: absolute;
            // top: 23vh;
            // left: 47%;
            // background: url(../img/svg/bg-for-photo.svg) no-repeat;
            // background: linear-gradient(158.74deg, #E3E9FB 33.12%, #9DAACB 63.6%);
            // border-radius: 50px;
            // background-size: 100vh;
            // height: 123vh;
            // width: 52vw;
            // transform: scale(1.7);
            // position: absolute;
            // top: -250px;
            // left: 20%;
            // background: url(../img/svg/bg-for-photo.svg) no-repeat;
            // background-size: 170vh;
            // height: 141vh;
            // width: 85vw;
        }
        &__main{
            @include flex_content (space-between, flex-end);
            position: relative;
            z-index: 1;
        }
        &__description{
            width: 50%; 
        }
        &__photo{
            width: 50%;
            position: relative;
            & img{
                height: 90vh;
            }
        }
        &__text{
            width: 50%;
            margin: 30px 0 50px 0;
        }
        & h1{
            @include font_style (Prata, 38px, 400, 46px);
            margin-top: 20vh;
        }
        &__ceo-info{
            position: absolute;
            width: 20%;
            bottom: 100px;
            right: 50%;
        }
        &__ceo-info:first-child{
            position: absolute; 
            width: 20%;
            bottom: 100px;
            right: 50%;
        }
    }
    // .header-pages{
    //     position: relative;
    //     padding: 0 calc(50vw - 585px);
    //     &__top{
    //         @include flex_content (space-between, center);
    //         position: relative;
    //         z-index: 1;
    //         font-weight: 700;
    //     }
    //     & .logo-icon{
    //         width: 15.6em;
    //         height: 3.7em;
    //     }
    //     a{
    //         text-decoration: none;
    //         color: $color_black;
    //         position: relative;
    //         display: inline-block;
    //     }
        
    //     & a:hover::after {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         width: 100%;
        
    //         /* Adjust height and bottom values to work with selected font */
    //         height: .07em;
    //         bottom: .1em;
        
    //         background-image: linear-gradient(
    //             to right,
    //             transparent 0%,
    //             $color_black 30%,
    //             $color_black 50%,
    //             $color_black 70%,
    //             transparent 100%
    //         );
        
    //         /* Set-up fade-in animation */
    //         opacity: 0;
    //         animation: fadeIn 600ms ease-out forwards;
    //     }
    
    //     @keyframes fadeIn{
    //         100%{
    //             opacity: 1;
    //         }
    //     }
    
    //     &__menu{
    //         display: block;
    //         list-style: none;
    //             & li{
    //                 display: inline-block;                
    //             }
    //             & li:not(:last-child){
    //                 padding-right: 3.5em;
    //             }
    //         }
    //         &__personal-area{
    //             & svg{
    //                 height: 1.2em;
    //                 width: 1.3em;
    //             }
    //             & a{
    //                 margin-left: 1em; 
    //             }
    //         }

    // }
    #personal-area_mobile{
        display: none; 
        a{
            text-decoration: none;
            color: $color_black;
            position: relative;
            display: inline-block;
            font-weight: 700;
        }
        
        & a:hover::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
        
            /* Adjust height and bottom values to work with selected font */
            height: .07em;
            bottom: .1em;
        
            background-image: linear-gradient(
                to right,
                transparent 0%,
                $color_black 30%,
                $color_black 50%,
                $color_black 70%,
                transparent 100%
            );
        
            /* Set-up fade-in animation */
            opacity: 0;
            animation: fadeIn 600ms ease-out forwards;
        }
    
        @keyframes fadeIn{
            100%{
                opacity: 1;
            }
        }
    
    }
    .button{
        padding: 1em 2em;
        background: $color_red;
        box-shadow: 0px 2px 8px rgba(27, 32, 50, 0.08);
        border: 0px;
        border-radius: 10px;
        @include font_style (Open Sans, 14px, 700, 22px);
        color: rgb(255, 255, 255);
    }

    .title{
        @include font_style (Prata, 28px, 400, 36px);
        margin-bottom: 30px; 
    }

    .about-us{
        @include flex_content(space-between, center);
        padding: 0 calc(50vw - 585px);
        background: rgb(244, 247, 255);
        &__video{
            padding: 50px 0;
            & iframe{
                border: 0;
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
                border-radius: 20px;    
            }
        }
        &__description{
            padding: 0 5%;

        }
    }
    #button_mobile{
        display: none; 
    }
    .our-services{
        padding: 0 calc(50vw - 585px);
        &__title{
            text-align: center;
            margin: 50px 0;
        }
        &__list{
            @include flex_content (space-between, center);
            flex-wrap: wrap;
        }
    }
    .service-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 31%;
        margin-bottom: 30px;
        &__icon{
            flex: 0 0 3.9em;
            height: 3.9em;
            margin: 1.5em 1em;
            & svg{
                width: 100%;
                height: 100%;
            }
        }
        &__description{
            & p{
                @include font_style (Open Sans, 18px, 700, 26px); 
            }
            & a{
                position: relative;
                text-decoration: none;
                @include font_style (Open Sans, 14px, 700, 22px); 
                color: rgba(183, 184, 196, 1);
            }
            & a:after{
                position: absolute;
                content: '';
                width: 0.7em;
                height: 0.7em;
                background: url(../img/arrow.png) no-repeat;
                background-size: contain;
                bottom: 0.2em;
                right: -2em;

            }
        }
    }
    .service-card-pros{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 30px;
        width: 50%;
        &__icon{
            flex: 0 0 3.1em;
            height: 3.1em;
            margin: 0 10px;
            & svg{
                width: 100%;
                height: 100%;
            }
        }
        &__text{
            @include font_style (Open Sans, 14px, 400, 22px); 
        }

    }
    .price, .who-we-are, .speciality{
        @include flex_content(space-between, flex-start);
        padding: 0 calc(50vw - 585px);
        background: rgb(244, 247, 255);
        &__description{
            width: 50%;
            padding: 0 10% 0 5%;
            margin: 50px 0;
            & p:last-of-type{
                margin: 30px 0 50px;
            }
        }

        &__img{
            width: 50%;
            height: 28em;
            background: url(../img/price-block.png) no-repeat;
            background-size: contain;
            margin: 3em 0;
        }
        &__list{
            margin-left: 20px;
            & li:not(:last-child){
                margin-bottom: 10px;
            }
            & span{
                color: $color_red; 
                font-weight: 700;
            }
        }
    }
    .pros{
        @include flex_content(space-between, flex-start);
        padding: 0 calc(50vw - 585px);
        &__description{
            width: 50%;
            margin:3em 0 0 5em;
            & p:nth-of-type(2){
                margin-bottom: 3em;
            }
        }
        &__img{
            width: 50%;
            height: 28em;
            background: url(../img/pros-block.png) no-repeat;
            background-size: contain;
            margin: 5em 0;
        }
        &__cards{
            @include flex_content (space-between, flex-start);
            flex-wrap: wrap;
        }
    }
    .stats{
        @include flex_content(space-between, center);
        padding: 0 calc(50vw - 585px);
        background: rgb(244, 247, 255);
        &__block{
            @include flex_content(center, center);
            flex-direction: column;
            background: rgb(255, 255, 255);
            width: 23%;
            height: 13em;
            border-radius: 20px;
            margin: 50px 0;
            padding: 0 30px;
            text-align: center;
        }
        &__title{
            @include font_style(Prata, 38px, 400, 38px);
            color: rgb(197, 35, 45);
            margin-bottom: 15px;
            & span{
                font-size: 28px;
                line-height: 0;
            }

        }
    }
    .reviews{
        padding: 0 calc(50vw - 585px);
        position: relative;
        &__nav{
            @include flex_content(space-between, center);
            margin: 3em 0;
        }
        &__title{
            @include font_style(Prata, 28px, 400, 36px);
        }
        &__btns{
            @include flex_content(space-between, center);
        }
        &__btn{
            @include flex_content(center, center);
            height: 45px;
            width: 45px;
            background: rgb(197, 35, 45);
            border-radius: 50px;
            color: rgb(255, 255, 255);
            font-weight: bold;
        }
        &__btn:first-of-type{
            margin-right: 15px;
        }
        &__references{
            @include flex_content(flex-start, flex-start);
            flex-wrap: nowrap;
        }
        &__reference-block{
            flex: 0 0 370px;
            border: 1px solid rgba(0, 0, 0, 0.03);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 30px;
        }
        &__reference-block:not(:last-child){
            margin-right: 30px;
        }
        &__block-title{
            @include font_style (Open Sans, 18px, bold, 26px); 
        }
        &__block-text{
            @include font_style (Open Sans, 14px, 400, 22px); 
            margin: 15px 0;
        }
        &__block-info{
            @include font_style (Open Sans, 14px, bold, 22px);
        }
    }
    .faq{
        @include flex_content(space-between, center);
        padding: 0 calc(50vw - 585px);
        & #first-question{
            border-top: 1px solid rgb(197, 35, 45);
        }
        &__questions{
            width: 50%;
            @include font_style (Open Sans, 18px, 700, 26px); 
        }
        &__answer{
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            @include font_style (Open Sans, 14px, 400, 22px); 
        }
        // .answer-active{
        //     padding: 15px;
        //     margin-bottom: 15px;
        //     border-bottom: 1px solid $color_red;


        // }
        // .active-question{
        //     transition: background-color 0.2s ease-out, color 0.2s ease-out;
        //     background: $color_red;
        //     border-radius: 20px;
        //     color: rgb(255, 255, 255);
        // }
        &__photo{
            width: 50%;
            & img {
                width: 100%;
            }
        }
        &__question{
            position: relative;
            @include flex_content(space-between, center);
            flex-direction: column;
            border-bottom: 1px solid rgb(197, 35, 45);
            &>p{
                padding: 20px 20% 20px 20px;
                width: 100%;
            }
        }
        &__btn{
            position: absolute;
            top: 1.3em;
            right: 20px;
            color: $color_red;
            font-size: 28px;
            font-weight: normal;
        }
        & #last-btn{
            top: 0.7em;
        }

    }
    .active-answer{
        & .faq__answer{
            padding: 15px;
            margin-bottom: 15px;
            // border-bottom: 1px solid $color_red;
        }
        & >p{
            margin-bottom: 15px;
            transition: background-color 0.2s ease-out, color 0.2s ease-out;
            background: $color_red;
            border-radius: 20px;
            color: rgb(255, 255, 255);
        }
        & .faq__btn{
            transition: transform .2s ease-in-out;
            transform: rotate(45deg);
            color: rgb(255, 255, 255);
        }

    }
    .consultation, .contacts{
        @include flex_content(space-between, center);
        padding: 3em calc(50vw - 585px) 6em;
        background: rgb(244, 247, 255);
        &__info{
            width: 50%;
            margin-bottom: 5em;
        }
        &__form{
            width: 50%;
            & form{
            display: flex;
            flex-direction: column;
            & input, label, textarea {
                display:block;
            }
            & label{
                margin: 0 18% 15px 18%;
            }
            & input, textarea {
                
                // margin-bottom: 15px;
                padding: 10px 15px;
                border: 1px solid #131F49;
                border-radius: 20px;
                resize: none;
                width: 100%;
            }
            & #upload-lable{
                display: inline-block;
                position: relative;
                width: 3em;
                height: 3em;
                background: #C5232D;
                background-image: url(../img/svg/pin-icon.svg);
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50px;
                color: white;
                padding: 0.5rem;
                font-family: sans-serif;
                cursor: pointer;
                margin-top: 1rem;
            }
            & #upload-lable::after{
                position: absolute;
                width: 10em;
                content: "Прикрепить файл";
                @include font_style (Open Sans, 16px, 400, 24px);
                top: 0.8em;
                left: 3.5em;
            }
        }
        & input::placeholder{
            @include font_style (Open Sans, 16px, 400, 24px);
            color: rgba(183, 184, 196, 1);
        }
        & button{
            margin: 2em 0 0 18%;
            width:  9em;
            height: 3.5em;
            border: 0;
            border-radius: 10px;
            background: $color_red;
            @include font_style (Open Sans, 14px, 700, 24px);
            color: rgb(255, 255, 255);
        }
        }
    }

    // ----------------form-styles----------------

    .form{
        width: 50%;
        margin: 10% auto;
        display: flex;
        flex-direction: column;
        & input, label, textarea {
            display:block;
        
        & label{
            margin: 0 18% 15px 18%;
        }
        & input, textarea {
            
            // margin-bottom: 15px;
            padding: 10px 15px;
            border: 1px solid #131F49;
            border-radius: 20px;
            resize: none;
            width: 100%;
        }
        & #upload-lable{
            display: inline-block;
            position: relative;
            width: 3em;
            height: 3em;
            background: #C5232D;
            background-image: url(../img/svg/pin-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50px;
            color: white;
            padding: 0.5rem;
            font-family: sans-serif;
            cursor: pointer;
            margin-top: 1rem;
        }
        & #upload-lable::after{
            position: absolute;
            width: 10em;
            content: "Прикрепить файл";
            @include font_style (Open Sans, 16px, 400, 24px);
            top: 0.8em;
            left: 3.5em;
        }
    }
    & input::placeholder{
        @include font_style (Open Sans, 16px, 400, 24px);
        color: rgba(183, 184, 196, 1);
    }
    & button{
        margin: 2em 0 0 18%;
        width:  9em;
        height: 3.5em;
        border: 0;
        border-radius: 10px;
        background: $color_red;
        @include font_style (Open Sans, 14px, 700, 24px);
        color: rgb(255, 255, 255);
    }

    & .error-log{
        display: none;
    }
    & .error-log-show{
        display: block;
        color: $color_red;
        padding-top: 10px;
    }
    }



    .footer{
        @include flex_content(space-between, center);
        padding: 4em calc(50vw - 585px);
        background: rgba(19, 31, 73, 1);
        @include font_style (Open Sans, 14px, 400, 22px);
        color:rgb(255, 255, 255);
        & a{
            text-decoration: none;
            color:rgb(255, 255, 255);
        }
        & li{
            list-style: none;
            margin-bottom: 1em;
        }
        &__logo{
            display: flex;
            flex-direction: column;
            & p:first-of-type{
                @include font_style (Prata, 28px, 400, 36px);
                color:rgb(255, 255, 255);
                margin-bottom: 1.5em;
    
            }
        }
        // &__menu{

        // }
        &__social{

            & svg{
                width: 1.2em;
                height: 1.2em;
                margin-right: 1em;
                fill: rgb(255, 255, 255);
            }
        }
        &___rights-mobile{
            display: none;
        }
    }


    // ---------------about-us page---------------
    .header_page{
    background: none; 
    height: auto;
    }
    .who-we-are{
        & img{
            width: 50%; 
            margin-top: auto; 
        }
        & p:not(:first-of-type){
            margin-bottom: 20px;
        }
        &__description{
            padding: 10% 10% 0 5%;
        }
    }
    .speciality{
        & img{
            width: 50%;
            margin-top: auto;  
        }
        &__description p:last-of-type {
            margin: 2em 0 .5em;
        }
    }
    .quote{
        padding: 0 calc(50vw - 450px);
        @include font_style (Prata, 28px, 400, 36px);
        &__text{
            margin: 30px 120px;
        }
        &__gridbox{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        &__img{
                grid-column: 1 / 4;
                width: 100%;
                margin-top: 3em;
                & img{
                    width: 100%;
                }
        }
        &__date-block{
            & p:first-of-type{
                color: $color_red;
            }
            & p:last-of-type{
                @include font_style (Open Sans, 16px, 400, 24px);
                margin-bottom: 5em;
            }
        }
    }

// ---------------for pages-----------

#pages_style{
    & .menu_mobile{
        display: none; 
    }
}

// ---------------for how-to page-----------

.how-it-works{
    padding: 0 calc(50vw - 585px); 
    &__title{
        @include font_style (Prata, 38px, 400, 46px);
        text-align: center;
        margin: 50px 0;
    }
    &__instruction{
        display: flex;  
        justify-content: space-between; 
        margin-bottom: 7em;
    }
    &__block{
        width: 33%;
        position: relative;
        z-index: -1;
    }
    .block{
        &__title{
            text-align: center;
            @include font_style (Prata, 96px, 400, 104px);
            position: relative;
        }
        &__info{
            background: #FFFFFF;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            width: 93%;
            height: 17em;
            margin: 0 auto;
            & img{
                width: 4.5em;
                height: auto;
                margin: 4% 4% 3%;
            }
            & p:first-of-type{
                margin: 0 4%;
                @include font_style (Open Sans, 18px, 700, 26px);
                color: rgb(19, 31, 73);
            }
            & p:last-of-type{
                margin: 4%;
                @include font_style (Open Sans, 14px, 400, 22px);
            }
        }
    }
    #num01{
        position: relative;
        top: -30px;
    }
    #num03{
        position: relative;
        top: 30px;
    }
}
// ---------------for contact page-----------
.contacts{
    display: flex;
    align-items: center;
    &__social{
        width: 50%;
        padding: 0 0 0 10%;
        & svg{
            width: 1.2em;
            height: 1.2em;
            margin-right: 1em;
            fill: $color_black;
        }
    }
    &___rights-mobile{
        display: none;
    }
    & a{
        text-decoration: none;
        color:$color_black; 
        font-weight: 700;
    }
    & li{
        list-style: none;
        margin-bottom: 1em;
    }
    &__form{
        width: 50%;
        & form label {
            margin: 0px 20% 15px 0%;
        }
        & button{
            margin: 1em 0 0 0%;
        }
    }
    & p{
        margin-bottom: 1em;
    }
}

// ----------------------MODAL WINDOW----------------

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    // background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background: rgb(244, 247, 255);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: $color_red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; 
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: rgb(244, 247, 255);
    color: white;
  }
  
  .modal-body {
      padding: 2px 16px;
      & p{
        margin-bottom: 1em;
    }
    & span {
        color: $color_red;
        font-weight: 700; 
    }
    }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: rgb(244, 247, 255);
    color: white;
  }

  //------------------payment / not found page------------

  .payment, .not-found{
      display: flex;
      padding: 5em calc(50vw - 585px);
      &__text{
          margin: 2em 0;
      }
      & img {
          width: auto;
          height: 100%;
      }
  }
  .not-found{
      & p{
          width: 80%;
      }
  }

  //---------------------login page-------------
  .login{
    padding: 50px calc(50vw - 240px) 10px;
    background: rgb(244, 247, 255); 
      & h1{
        @include font_style (Prata, 38px, 400, 46px);
        text-align: center;
      }
      & .form {
          width: 100%;
          & button{
            margin: 2em auto;
          }
      }
      & a{
        text-align: center;
        text-decoration: none;
        color: $color_black;
        margin-bottom: 0.5em;
    }
  }

  //------------service-page------

  .service-page{
    padding: 50px calc(50vw - 585px) 10%;
    display: flex;
    &__text{
        margin-top: 7%;
        & h1{
            @include font_style (Prata, 38px, 400, 46px);
            margin-bottom: 30px;
        }
        & p{
            margin-bottom: 20px;
        }
        & span{
            @include font_style (Open Sans, 18px, 700, 26px); 
            color: $color_red;
        }
        width: 50%;
        margin-right: 10%;
    }
    &__form{
        & p{
            @include font_style (Prata, 28px, 400, 36px);
        }
        width: 50%;
        & .form{
            width: 100%;
        }
        & button {
            margin: 2em 0;
        }
        & input{
            margin-bottom: 1em;
        }
    }
  }

  //----------------personal page-----

  .personal{
    @include flex_content(center, flex-start);
    padding: 0 calc(50vw - 585px);
    background: rgb(244, 247, 255);
    padding-top: 3em;
    &__info{
        width: 50%;
    }
    &__docs{
        width: 50%;
        padding-left: 10%;
    }
    & form{
        width: 100%;
        padding-right: 10%;
    }
    .doc{
        @include flex_content(flex-start, center);
        & img{
            margin: 0 1em 1em 0;
        } 
    }
  }

  .our-services_personal{
      margin-bottom: 2em;
      & .service-card{
          flex-direction: column;
          text-align: center;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      }
      & a{
        display: inline-block;
        margin: 1em;
        padding: 1em 2em;
        background: $color_red;
        box-shadow: 0px 2px 8px rgba(27, 32, 50, 0.08);
        border: 0px;
        border-radius: 10px;
        @include font_style (Open Sans, 14px, 700, 22px);
        color: rgb(255, 255, 255);
      }
      & a::after{
          display: none;
      }
      & .title{
        text-align: left;
      }
  }
  //----------------Sign up page--------
  .sign_up{
      & button{
        width: 13em;
      }
      & a{
          text-align: center;
          text-decoration: none;
          color: $color_black;
      }
      & input{
          margin-bottom: 0.6em;
      }
  }

@import "media-quer";